
body {
    background-color: white;
    color: black;
}

.h1, .h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 50px;
}

a {
    height: 100px;
    width: 100px;
}

header {
    border-radius: 8px;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    background-color: darkgoldenrod;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header div ul {
    list-style: none;
    text-align: center;
    display: flex;
}

header div ul li {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    padding: 5px 10px;
}

.about-me {
    text-indent: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.about-me img {
    border: solid;
    border-radius: 8px;
    display:flex;
    flex-wrap: wrap;
    max-height: 200px;
    float: left;
}

.work img {
    border-style: solid;
    border-color:coral;
    border-radius: 8px;
    max-width: 2000px;
    max-height: 300px;
}

.workpics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}


.contact-me {
    padding-left: 20px;
    display: flex;
}

.contact-me ul {
    list-style-type: none;
    font-size: 25px;
}

.contact-me ul li {
    text-decoration: underline;
    line-height: 32.5px;
}

article #work1 {
    column-count: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

article #row1 {
    column-count: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article #row2 {
    column-count: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}